body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.site-footer {
    background-color: #242424; 
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}


.newsletter {
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #444;
}

.newsletter-heading {
    font-size: 25px;
    margin-bottom: 5px;
}

.newsletter-heading strong {
    font-weight: bold;
}

.unsubscribe-text {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.newsletter-form input {
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 300px;
}

.newsletter-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #242424;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter-form button:hover {
    background-color: aqua; /* or #333 */
    color: black;
    border-color: aqua;    
}

.footer-links {
    display: flex;
    justify-content: space-around; /* Distribute space evenly */
    text-align:left;
    max-width: 1200px; /* Center the columns within a max width */
    margin: 0 auto; 
    padding-top: 30px;
}

.link-group {
    padding: 0 15px; 
}

.group-title {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold; 
    color: #fff;
}

.link-group ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

.link-group li {
    margin-bottom: 8px;
}

.link-group a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s;
}

.link-group a:hover {
    color: aqua; 
}


/* @media (max-width: 768px) {
    .footer-links {
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .link-group {
        width: 45%; 
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .newsletter-form {
        flex-direction: column; 
        align-items: center;
    }

    .newsletter-form input,
    .newsletter-form button {
        width: 80%;
    }

    .footer-links {
        flex-direction: column; 
        text-align: center;
    }

    .link-group {
        width: 100%;
        padding: 0;
    }

    .group-title {
        margin-top: 15px;
    }
} */