.navBar {
  background-color: #000;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navBar-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
  margin: 0 auto;
}

.navBar ul {
  list-style: none;
  /* Removes bullets */
  display: flex;
  /* Arranges items horizontally */
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navBar li {
  display: inline-block;
}

.navBar-logo-text {
  display: flex;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  text-decoration: none;
  transition: all 0.4s ease-in;
}

.logo {
  height: 50px;
  margin-right: 9px;
}

.navBar-items-list {
  display: flex;
  align-items: center;
  gap: 30px
}

.navBar-signup-btn {
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: all 1s ease-out;
}

.navBar-signup-btn:hover {
  background-color: aqua;
  color: #000;
}