.navBar {
  background-color: #4b2e2b90;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 4;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.navBar.scrolled {
  background-color: #3e2723ad;
  /* Semi-transparent dark background */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* Safari support */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navBar-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
  margin: 0 auto;
}

.navBar ul {
  list-style: none;
  /* Removes bullets */
  display: flex;
  /* Arranges items horizontally */
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.navBar li {
  display: inline-block;

}

.navBar-logo-text {
  display: flex;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  text-decoration: none;
  transition: all 0.4s ease-in;
  color: #fbe5c4;
  font-family: "Playfair Display SC", serif;
}

.logo {
  height: 50px;
  margin-right: 9px;
}

.navBar-items-list {
  display: flex;
  align-items: center;
  gap: 30px
}

.navBar-signup-btn {
  background-color: #fbe5c4;
  padding: 8px 16px;
  border-radius: 4px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: all 1s ease-out;
  font-family: "Lato", sans-serif;
}

.navBar-signup-btn:hover {
  background-color: #D4A373;
  color: #000;
}