.slogan {
    width: 100%;
    height: fit-content;
    background-color: #965C5B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan p {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 50px;
    width: 50%;
    font-family: "Dancing Script", cursive;
}