.main-container {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    margin: 0;
    padding: 0;
}


.bg-img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

.bg-overlay {
    position: fixed;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.45));
    z-index: -1;
}


.title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 120px;
}

.title-content h1 {
    /* color: rgb(255, 174, 0); */
    color: #f2d776;
    text-align: center;
    font-size: 80px;
    width: 50%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: normal;
}

.title-content p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    width: 50%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Cormorant Garamond", serif;
}

.title-button {
    display: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 8px;
    transition: all 0.3s ease;
    /* Smooth transition for all properties */
}

.title-button:hover {
    background-color: rgb(255, 174, 0);
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    text-shadow: none;
}

@media screen and (max-width: 768px) {
    .title-content h1 {
        font-size: 40px;
        width: 90%;
    }

    .title-content p {
        font-size: 18px;
        width: 90%;
    }
}